#### Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.

In [1]:
print("hello")

hello

In [2]:
print("good morning")
print("night")
print("lamp")

good morning
night
lamp

In [3]:
print("""The history of human settlement in the west Indian state of Rajasthan dates back to about 5,000 years ago. This region was inhabited during great floods after the ice age as well. This area was known as Matsya kingdom. It was the site of the Indus Valley Civilization.""")

The history of human settlement in the west Indian state of Rajasthan dates back to about 5,000 years ago. This region was inhabited during great floods after the ice age as well. This area was known as Matsya kingdom. It was the site of the Indus Valley Civilization.

### Comments

In [4]:
# say hello to students
print("hi students")

hi students

In [5]:
# say hello to students
#print("hi students")

##### multi line comments

In [6]:
# more exceptional cases in print statements

print("hi my name is "puneet" ")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (726968512.py, line 3)

In [ ]:
print('hi my name is "puneet" ')

hi my name is "puneet"

In [ ]:
print("""hi my name is "puneet" """)

hi my name is "puneet"

# Header <-- markdown

In [ ]:
12+456

468

In [ ]:
123/123

1.0

In [ ]:
123**2 # power of 123 raised to 2

15129

In [ ]:
123%2 # module operator which gives you reminder

1

In [ ]:
123 * 456
print("result")

result

In [ ]:
print("123 * 456")
print("result")

123 * 456
result

### Introduction to Python Variables

##### A Variable is nothing but a programming element used to define, store, and perform operations on the input data. Python variables are of four different types: Integer, Long Integer, Float, and String. Integers are used to define numeric values; Long Integers are used for defining integers with bigger lengths than a normal Integer. Floats are used for defining decimal values, and Strings are used for defining characters.

##### Variables Declaration:-

##### Like other programming, languages python does not expect a static variable declaration along with the type of the variable being handled. Instead, python has the ability to determine the type of the variable just based on the type of value being stored in it.

### Top 4 Types of Variables in Python

##### 1.  Integer: Numeric values.
##### 2. Long Integer: A integer whose length is greater than a usual integer type variable.
##### 3. Float: Variables that are intended to hold floating precession values.
##### 4. String: Variables that are intended to hold a string of letters.

##### example

In [ ]:
x = 10

In [ ]:
print(x)

10

In [ ]:
y = 15

In [ ]:
print(y)

15

In [ ]:
ten = 10

In [ ]:
ten_number = 10

In [ ]:
tenNumber = 10

#### variables in Python

1. varible names should start with alphabets.

In [ ]:
ten = 10
ten_number = 10
tenNumber= 10

2. varible names should not contain any special characters likeas ^ % $ ! @ # & * ()

In [ ]:
ten

10

In [ ]:
ten*

SyntaxError: invalid syntax (3894775693.py, line 1)

In [ ]:
ten&number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3917391160.py, line 1)

3. varible names can contain numbers but you can't start with numbers

In [ ]:
ten = 10

In [ ]:
ten10 = 10

In [ ]:
10ten = 10

SyntaxError: invalid decimal literal (3011706180.py, line 1)

In [ ]:
_num = 10 # _ is hidden variable-private varibles

4. Its not a strict rule that you should variable names with a capital letter.But its recommanded to use small letters for the variables

In [ ]:
Ten = 10

In [ ]:
ten_number = 10

In [ ]:
ten number = 10

SyntaxError: invalid syntax (2262126045.py, line 1)

In [ ]:
_ = 10 # dummy variable

### Fundamental Data types

##### 1.  Integer: Numeric values.(doesnot contain decimal value)

In [ ]:
a = 7

In [ ]:
type(a)

int

In [ ]:
b = 99

In [ ]:
type(b)

int

##### 2. Float: Variables that are intended to hold floating precession values.

In [ ]:
c = 3.14

In [ ]:
type(c)

float

In [ ]:
d = 0.32

In [ ]:
type(d)

float

In [ ]:
pi = 22/7
pi

3.142857142857143

In [ ]:
type(pi)

float

#### 3. Complex numbers

##### for example- j is imginary number

In [ ]:
a = 2+3j
a

(2+3j)

In [ ]:
type(a)

complex

In [ ]:
a.real

2.0

In [ ]:
a.imag

3.0

#### Dynamic typing

##### - means  that in python you are allowed to change the data type on run time

##### example- in c++ we do "int a =22"

In [ ]:
a = 22
print(type(a))
a = 22.2
print(type(a))

<class 'int'>
<class 'float'>

In [ ]:
print(a)

22.2

In [ ]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "puneet"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print(a)

puneet

#### Strong typing

##### - means if you add two values and they are of two different types it will through an 'type error'.

In [ ]:
"Day" + 1

TypeError: can only concatenate str (not "int") to str

In [ ]:
"day "+"1"

'day 1'

In [ ]:
"22"+"22"

'2222'

In [ ]:
"puneet " + "soni"

'puneet soni'

In [ ]:
a = 1 #integer data type
b = 1.2 #float data type
c = "puneet" #string data type
f = 1+5j #complex data type # rarely used

In [ ]:
print("hi welcome to python")

hi welcome to python

In [ ]:
language = "python"
print("hi welcome " + "to" + " python")

hi welcome to python

In [ ]:

language = "javascript"
print(f"hi welcome to class of " + language + "language")#allowed but rarely used

hi welcome to class of javascriptlanguage

In [ ]:
# f -> formatted string method
language = "javascript"
print(f"hi welcome to class of {language} language")#current standard approach used

hi welcome to class of javascript language

In [ ]:

language = "javascript"
print("hi welcome to class of {} language".format(language))#old approach\old way

hi welcome to class of javascript language

In [ ]:
language = "javascript"
print("hi welcome to class of {language} language")

hi welcome to class of {language} language

In [ ]:
# f -> formatted string method
num = "first"
language = "python"
print(f"hi welcome to class of {language} language")#current standard approach used

hi welcome to class of python language

##### day 3 25th sep22

##### Agenda
1. variable case senstivity
2. Reserved words in python
3. multi assignment of variabes
4. user input
5. type casting | type conversion
6. Memory block
7. operators
- Logical
- Equally
- Comparission
- Arthimtic
- Bitwise [Adavance classes]
-Operators for sets and dictionary{advance classes}
8. String methods

#### 1. variable case senstivity

##### variable names defined as
ashish  Ashish - these are two different variable names.

In [ ]:
TEN = 10 #these two are not same
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

In [ ]:
print(Ten)

NameError: name 'Ten' is not defined

In [ ]:
TEN

10

##### 2. Reserved words in python (https://flexiple.com/python/python-reserved-words/)

##### - we should not use reserved varibles names.
##### - Also python does't restrict the user to use reserve keywords as varible names 

There is one more restriction on identifier names. The Python language reserves a small set of keywords that designate special language functionality. No object can have the same name as a reserved word.

there are 33 reserved keywords:
	 	 	 
- False	   ,def	 ,   if	   ,     raise
- None	   ,del	 ,   import	,    return
- True	   ,elif  ,	    in	 ,       try
- and	     ,else	,    is	  ,      while
- as	       ,except	,lambda	,    with
- assert	   ,finally	,nonlocal,	yield
- break	   ,for	    ,not	
- class	   ,from	,    or	
- continue   ,global,	pass

In [ ]:
print("Hi there")

TypeError: 'str' object is not callable

In [ ]:
print = "Hi there" # as a variable
type(print)

str

##### in this case we have to restart our kernel (run all)

In [ ]:
print("Hi there")

Hi there

In [ ]:
del print # delete the variable print

NameError: name 'print' is not defined

In [ ]:
print("hi there")

hi there

In [ ]:
print()

##### 3. multi assignment of variabes

In [ ]:
a, b, c, d = 10, 20.2, "sunny", True

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
type(c)

str

In [ ]:
type(d)

bool

In [ ]:
a, b, c = 10

TypeError: cannot unpack non-iterable int object

In [ ]:
type(a,b,c)

TypeError: type.__new__() argument 1 must be str, not int

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a,A,c,C = 10, 20.2, "sunny",True

In [ ]:
print(a,A,c,C)

10 20.2 sunny True

In [ ]:
a=b=c=10

In [ ]:
a,b,c

(10, 10, 10)

In [ ]:
firstname, middlename, lastname = "Puneet", "kumar", "soni"

* create email.id
* i have take currly braces{} then it take it as a variable.

In [ ]:
get_ipython().magic('reset -sf')

C:\Users\Admin\AppData\Local\Temp\ipykernel_5044\3674724974.py:1: DeprecationWarning: `magic(...)` is deprecated since IPython 0.13 (warning added in 8.1), use run_line_magic(magic_name, parameter_s).
  get_ipython().magic('reset -sf')

In [ ]:
first_name, middle_name, last_name = "Puneet", "kumar", "Soni"

In [ ]:
print(f"{first_name}.{last_name}@gmail.com")

Puneet.Soni@gmail.com

In [ ]:
name, place, year_of_birth, weight = "sunny" , "jaipur" , 1995 , 70

In [ ]:
print(f"""
my name is: {name}
i live at: {place}
i was born in: {year_of_birth}
My weight is: {weight} in kgs
""" )

my name is: sunny
i live at: jaipur
i was born in: 1995
My weight is: 70 in kgs

1:58:02

##### 4. user input

* -That means we are able to ask the user for input.(https://www.w3schools.com/python/python_user_input.asp)

The method is a bit different in Python 3.6

Python 3.6 uses the {input()} method.

The following example asks for the username, and when you entered the username, it gets printed on the screen:

username = input("Enter username:")
print("Username is: " + username)

In [ ]:
name = input("enter your name:")
print(f"you have entered: {name}")

you have entered: puneet

In [ ]:
A = input("enter value of A: ")
B = input("enter value of B: ")

print(f"sum of A and B is: {A+B}") # f is kind of fill in the blank

sum of A and B is: 1012

In [ ]:
A = input("enter value of A: ")
B = input("enter value of B: ")
print(type(A)),print(type(B))

<class 'str'>
<class 'str'>

(None, None)

In [ ]:
name = input("name")
place = input("place")
year_of_birth = input(year_of_birth)

In [ ]:
print(f"""
my name is: {name}
i live at: {place}
i was born in: {year_of_birth}
My weight is: {weight} in kgs
""" )

my name is: aman
i live at: delhi
i was born in: 1995
My weight is: 70 in kgs

In [ ]:
# calculate the age of the user
name = input("name")   #always give you string value
place = input("place")
year_of_birth = input("year_of_birth") # convert this into integer
age = 2022-year_of_birth  #to convert it into integer or float just use int before the input for example [2022-int("year_of_birth") ] or for float use [2022-float("year_of_birth") ]

print(f"""
my name is: {name}
i live at: {place}
i was born in: {year_of_birth}
My weight is: {weight} in kgs
""" )

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
# calculate the age of the user
name = input("name")  #always give you string value
place = input("place")
year_of_birth = input("year_of_birth")   # convert this into integer
age = 2022-int(year_of_birth)    #to convert it into integer or float just use int before the input for example [2022-int("year_of_birth") ] or for float use [2022-float("year_of_birth") ]

print(f"""
my name is: {name}
i live at: {place}
i was born in: {year_of_birth}
{name} is of age:{age}
""" )

my name is: puneet
i live at: udaipur
i was born in: 1995
puneet is of age:27

In [ ]:
# calculate the age of the user
name = input("name")  #always give you string value
place = input("place")
year_of_birth = input("year_of_birth")   # convert this into integer
current_year = input("current year")
age = int(current_year)-int(year_of_birth)    #to convert it into integer or float just use int before the input for example [2022-int("year_of_birth") ] or for float use [2022-float("year_of_birth") ]

print(f"""
my name is: {name}
i live at: {place}
i was born in: {year_of_birth}
{name} is of age:{age}
""" )

my name is: Sahil
i live at: jodhpur
i was born in: 1995
Sahil is of age:29

####  type conversion(01:20:20)
- we can convert the data type of one variable into another if it is allowed.

In [ ]:
A = int(input("enter value of A: "))
B = int(input("enter value of B: "))

print(type(A)),print(type(B))

<class 'int'>
<class 'int'>

(None, None)

In [ ]:
print(f"sum of A and B is:{A+B}")

sum of A and B is:15

In [ ]:
A = float(input("enter value of A: ")) #15.2
B = int(input("enter value of B: "))   #10.2
print(f"sum of {A+B}")

ValueError: invalid literal for int() with base 10: '10.2'

In [ ]:
A = float(input("enter value of A: "))
B = int(input("enter value of B: "))
print(f"sum of {A+B}")

sum of 22.2

In [ ]:
float("10")

10.0

##### #string to integer

In [ ]:
A = "50"
print(f"data type before: {type(A)}")
A = int(A)
print(f"data type after: {type(A)}")

data type before: <class 'str'>
data type after: <class 'int'>

In [ ]:
A = "50.22" # entering float
print(f"data type before: {type(A)}")
A = int(A) # trying to convert it into interger so this error it is giving: not allowed
print(f"data type after: {type(A)}")

data type before: <class 'str'>

ValueError: invalid literal for int() with base 10: '50.22'

In [ ]:
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type before: <class 'int'>, value of A: 50

In [ ]:
# float to interger
A = 50.22
print(f"data type before: {type(A)}")
A = int(A)
print(f"data type after: {type(A)}")

data type before: <class 'float'>
data type after: <class 'int'>

In [ ]:
A = 50.22
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type before: <class 'int'>, value of A: 50

##### note- "" there are only use in case of string\string conversion

In [ ]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type before: <class 'float'>, value of A: 50.0

##### integer to boolen value

In [ ]:
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type before: <class 'bool'>, value of A: True

> Note-
* true in binery -1
* false in  binery 0

In [ ]:
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type before: <class 'bool'>, value of A: False

> note:- when ever you put 0 it always give false and wheather you put + value or -value it shows true

In [ ]:
A = -5
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type before: <class 'bool'>, value of A: True

> note- For any non zero number and string values into boolen will give TRUE as an answer.

> Note- Empty string "" will give FALSE as an answer after converting from string to boolen.

#### String to boolen

In [ ]:
# String to boolen
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type before: <class 'bool'>, value of A: True

In [ ]:
A = "Puneet"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: Puneet
data type before: <class 'bool'>, value of A: True

In [ ]:
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type before: <class 'bool'>, value of A: True

In [ ]:
A = "apple"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: apple
data type before: <class 'bool'>, value of A: True

#### Empty string to boolen(true/false)

* note- if we dont provide any think then it will give false and if we provide any thing it will show true

In [ ]:
# Empty string to boolen
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type before: <class 'bool'>, value of A: False

In [ ]:
A = " " # bcoz here space is used as value so it shows true
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type before: <class 'bool'>, value of A: True

In [ ]:
# Empty string to integer

A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

#### Memory Block

In [ ]:
a = 22
b = 34
c = 22

In [ ]:
id(a) # memory address  > this is memory address 2023148946320

2023148946320

In [ ]:
id(b)

2023148946704

In [ ]:
id(c)

2023148946320

In [ ]:
c = 22 + b

In [ ]:
id(c) #know the id of c is changed from 2023148946320 to 2023148947408

2023148947408

In [ ]:
a = 22
id(a)

2023148946320

In [ ]:
a = 99
id(a)

2023148948784

In [ ]:
a = 22
b = 34
c = 22

print(id(a),id(b),id(c))

2023148946320 2023148946704 2023148946320

In [ ]:
a = "puneet"
b = 34
c = "puneet"

print(id(a),id(b),id(c))

2023275587056 2023148946704 2023275587056

In [ ]:
a = 22
b = 34
c = 22.0

print(id(a),id(b),id(c))

2023148946320 2023148946704 2023275674640

> Python Directory - https://docs.python.org/3/library/stdtypes.html

##### 7. operators

### Glimpse of conditional Statement

#### Conditional Statement (If Else)

> * if confition:
   > * print("execute this statement")
> * else:
   > * print("if condition is not true")

 if it is raining then let's work from home else let's go to office

In [ ]:
raining = True

if raining: #true condition
    print("Lets do work from home") # This stateman executed
else:
    print("Lets go to the office")

Lets do work from home

In [ ]:
raining = False

if raining: #false condition
    print("Lets do work from home")
else:
    print("Lets go to the office") # This stateman executed

Lets go to the office

In [ ]:
class_started = True

if class_started:
    print("lets concentrate")

lets concentrate

In [ ]:
class_started = False

if class_started:
    print("lets concentrate")
else:
    print("lets revise previous class")

lets revise previous class

#### use of indentation

* Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

Example:-

In [ ]:
raining = True

if raining: #true condition
print("Lets do work from home") # This stateman executed
else:
    print("Lets go to the office")

IndentationError: expected an indented block after 'if' statement on line 3 (256568678.py, line 4)

In [ ]:
raining = True

if raining: #true condition
    print("since its raining")
    print("Lets do work from home") # This stateman executed
else:
    print("since its not raining")
    print("Lets go to the office")

since its raining
Lets do work from home

In [ ]:
raining = False

if raining: #true condition
    print("since its raining")
    print("Lets do work from home") # This stateman executed
else:
    print("since its not raining")
    print("Lets go to the office")

since its not raining
Lets go to the office

* in C language they use curely braces
raining = True

if raining: #true condition
    print("since its raining...")
    print("Lets do work from home") # This stateman executed
else:
    print("since its not raining...")
    print("Lets go to the office")

* if its not rainig then let's go to the the office else let's work from home

In [ ]:
raining = True

if not raining: #true condition
    print("since its raining")
    print("Lets do work from home") # This stateman executed
else:
    print("since its not raining")
    print("Lets go to the office")

since its not raining
Lets go to the office

##### 7. operators

#### Logical operators-
>keywords | meaning

>not      | unary negation # it means false contion

>and      | conditional AND

>or       | Conditiona OR

In [ ]:
START = True
print(START)

True

* if class started then let'S concentrate else revise the previous class

In [ ]:
class_started = True

if class_started:
    print("since class started")
    print("lets concentrate")
else:
    print("since class is not started")
    print("let's revise")

since class started
lets concentrate

In [ ]:
class_started = False

if class_started:
    print("since class started")
    print("lets concentrate")
else:
    print("since class is not started")
    print("let's revise")

since class is not started
let's revise

* if class NOT started then let'S concentrate else revise the previous class

In [ ]:
class_started = True

if not class_started:
    print("since class is not started")
    print("lets concentrate")
else:
    print("since class is started")
    print("let's revise")

since class is started
let's revise

In [ ]:
class_started = False

if not class_started:
    print("since class is not started")
    print("lets concentrate")
else:
    print("since class is started")
    print("let's revise")

since class is not started
lets concentrate